/*  container */
#container {
  height: 450px;
  width: 300px;
  display: grid;  
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
  background-color: #44454b; 
  padding: 10px;
  border-radius: 25px; 
}

/* Display Screen */
#displayDiv {

  grid-column: 1/5;
  font-size:60px;
  border-style: solid;
  background-color: #ddf0c8;
  font-family: sans-serif;
  height:100px;
  border-radius: 25px;  
}

/*Buttons*/
.number {
  background-color: #797979;
  border: none;
  color: white;
  padding: 2px;
  font-size: 30px;
  margin: 2px;
  border-radius: 10px;   
}


.operator {
  background-color: #40a088;
  border: none;
  color: white;
  font-size: 30px;
  margin: 2px;
  border-radius: 10px;
}


#eqlsBtn {
  background-color: #e98746;
  font-size: 26px;
  color: white;
  border: none;
  color: white;
  font-size: 30px;
  margin: 2px;
  border-radius: 10px;
  grid-column: 4/4;
  grid-row: 4/6;
  
}

#acBtn {
  background-color: #d84747;
  border: none;
  color: white;
  font-size: 30px;
  margin: 2px;
  border-radius: 10px;
}


#delBtn {
  background-color: #d84747;
  border: none;
  color: white;
  font-size: 30px;
  margin: 2px;
  border-radius: 10px;
}

#num0 {
  grid-column: 1/3;
  background-color: #797979;
  border: none;
  color: white;
  font-size: 30px;
  margin: 2px;
  border-radius: 10px;   
}




#delBtn:active {
background-color: #7e3636;
transform: translateY(2px);
}

.operator:active {
  background-color: #276152;
  transform: translateY(2px);
}

#acBtn:active {
  background-color: #7e3636;
  transform: translateY(2px);
}

#eqlsBtn:active {
  background-color: #7e4a27;
  transform: translateY(2px);
}


.number:active {
  background-color: #575757;
  transform: translateY(2px);
}