/*  container */
#container {
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto); 
  height: 450px;
  width: 300px;
  margin-left: 50px;
  margin-top: 50px;
  padding: 10px;
  border-radius: 20px; 
  background-color: #3c3d42; 
}

/* Display Screen */
#displayDiv {
  display: grid; 
  justify-items: end;
  align-items: center;
  grid-column: 1/5;
  height: 70px;
  margin: 5px;
  margin-top: 10px;
  background-color: #ddf0c8;
  border-radius: 20px;  
  font-family: sans-serif;
}

#displayDiv p {
  margin-top: 9px;
  margin-right: 5px;
  color: #141414; 
  font-size:49px;
  font-family: sans-serif;
}

/*Buttons*/
.number {
  margin: 2px;
  padding: 2px;
  border: none;
  border-radius: 10px;   
  background-color: #838383;
  color: white;
  font-size: 30px;
}

.operator {
  margin: 2px;
  background-color: #40a088;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 30px;
}

#eqlsBtn {
  grid-column: 4/4;
  grid-row: 5/7;
  margin: 2px;
  border: none;
  border-radius: 10px;
  background-color: #e98746;
  color: white;
  font-size: 36px;
}

#acBtn {
  margin: 2px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #d84747;
  font-size: 30px;
}


#delBtn {
  margin: 2px;
  border: none;
  border-radius: 10px;
  background-color: #d84747;
  color: white;
  font-size: 30px;
}

#num0 {
  grid-column: 1/3;
  margin: 2px;
  border: none;
  border-radius: 10px; 
  background-color: #797979;
  color: white;
  font-size: 30px;
}

#delBtn:active {
  background-color: #7e3636;
  transform: translateY(2px);
}

.operator:active {
  background-color: #276152;
  transform: translateY(2px);
}

#acBtn:active {
  background-color: #7e3636;
  transform: translateY(2px);
}

#eqlsBtn:active {
  background-color: #7e4a27;
  transform: translateY(2px);
}

.number:active {
  background-color: #575757;
  transform: translateY(2px);
}